/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
/* Disable the default Eye icon in Microsoft Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Disable the default Clear (X) icon in Chrome/Safari/Edge */
input::-webkit-contacts-auto-fill-button, 
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}